body {
  text-align: center;
  font-family: Arvo, "Time New Roman", Serif;
  padding-top: 70px;
}
p {
  font-size: 12pt;
}
.tiny {
  font-size: 8pt;
  font-family: Arial, "Sans-Serif";
}
h1.title {
  font-size: 22pt;
  font-family: Arvo, Serif;
  margin-bottom: 20px;
  font-weight: 400;
}
h1.title em {
  font-weight: 600;
}
section.footer {
  border-top: 1px solid #eee;
  margin-top: 2.5em;
  padding-top: 1.5em;
}
section.footer p {
  font-family: Arial, "Sans-serif";
  font-size: 9pt;
}
section.footer .fa {
  font-size: 14pt;
  margin-right: .1em;
}
section.footer p a {
  color: #333;
}
.main {
  min-height: 800px;
}
p.cd-container {
  font-size: 20pt;
  margin: 13px auto;
  float: none;
}
.description {
  float: left;
  background: #eee;
  padding: 16px 26px 8px;
  text-align: justify;
  width: 585px;
  margin-left: 20px;
}
.description p {
  font-size: 12pt;
  font-family: Georgia, "Time New Roman", Serif;
}
section.links p {
  margin-top: 1em;
}
section.content {
  margin: 20px auto 0;
  width: 880px;
  display: block;
}
.cover-image {
  float: left;
  margin: 20px 20px 20px 0px;
}
.clear {
  clear: both;
}

/* navbar */
@media (min-width: 0px) {
  .container {
    width: 910px;
  }
}

@media (min-width: 768px) {
  #tor a {
    padding: 0;
    margin-top: 2px;
    margin-right: 20px;
    width: 33px;
    height: 44px;
    background: url(/static/tor_dark.png);
  }
  #tor a:hover {
    background: url(/static/tor.png);
  }
}
/* end navbar */

.blurb {
  margin: 1em auto;
  width: 900px;
}
.blurb .quote span:before, .contents ol li span:before {
  content: "\201C";
}
.blurb .quote span:after, .contents ol li span:after {
  content: "\201D";
}
.blurb .quote span {
  font-size: 1.3em;
}
.blurb .quote a:before {
  content: "\2014";
}
.blurb .quote a {
  color: #333;
}
.blurb .quote a:hover {
  color: #428bca;
}

.twitter {
  margin-top: 1em;
}
.fa-twitter {
  font-size: 1.2em;
}

.authors {
  margin: -20px auto 0;
  width: 900px;
  font-family: Georgia, Serif;
  font-size: 24pt;
  text-align: justify;
}
.authors h3 {
  font-family: Merriweather, Serif;
}
.authors .author {
  margin-top: 1.7em;
}
.authors .author h3 {
  font-weight: 600;
}
.authors .author img {
  float: left;
  height: 100px;
  margin: 0 20px 20px 0;
}
.author .links {
  border-top: 1px solid #eee;
  padding-top: 0.5em;
}
.author .links a {
  margin-right: 20px;
  font-size: .9em;
}

.disclaimer {
  width: 600px;
  margin: 0 auto;
}
.disclaimer h1 {
  margin-bottom: .7em;
}

.contents {
  width: 900px;
  margin: 0 auto;
}
.contents p {
  font-family: Georgia, Serif;
  font-size: 15pt;
}
.contents div ol:first {
  margin-right: 4px;
}
.contents ol {
  font-family: Georgia, Serif;
  font-size: 12pt;
  float: left;
  width: 450px;
  text-align: left;
}

.calendar {
  margin-top: 3em;
}
