{% extends "base.html" %}
{% block content %}

  <h1>Almanac Contents</h1>

  <div class="contents">
    <p>
      <em>The Time Traveler's Almanac</em> contains 70 works of time travel
      fiction and non-fiction.
    </p>
    <h3>Fiction</h3>
    <div>
      <ol>
        <li><span>Young Zaphod Plays It Safe</span> by Douglas Adams</li>
        <li><span>Terminós</span> by Dean Francis Alfar</li>
        <li><span>What If?</span> by Issac Asimov</li>
        <li><span>Noble Mold</span> by Kage Baker</li>
        <li><span>A Night on the Barbary Coast</span> by Kage Baker</li>
        <li><span>Life Trap</span> by Barrington J Bayley</li>
        <li><span>This Tragic Glass</span> by Elizabeth Bear</li>
        <li><span>Enoch Soames</span> by Max Beerbohn</li>
        <li><span>The Most Important Thing in the World</span> by Steve Bein</li>
        <li><span>In The Tube</span> by E.F. Benson</li>
        <li><span>The Mask of the Rex</span> by Richard Bowes</li>
        <li><span>A Sound of Thunder</span> by Ray Bradbury</li>
        <li><span>Bad Timing</span> by Molly Brown</li>
        <li><span>The Gulf of the Years</span> by George-Olivier Châteaureynaud</li>
        <li><span>The Threads of Time</span> by C.J. Cherryh</li>
        <li><span>Thirty Seconds From Now</span> by John Chu</li>
        <li><span>Palindromic</span> by Peter Crowther</li>
        <li><span>Domine</span> by Rjurik Davidson</li>
        <li><span>The Lost Continent</span> by Greg Egan</li>
        <li><span>The Gernsback Continuum</span> by William Gibson</li>
        <li><span>3 RMS, Good View</span> by Karen Haber</li>
        <li><span>Message in a Bottle</span> by Nalo Hopkinson</li>
        <li><span>The Great Clock</span> by Langdon Jones</li>
        <li><span>Hwang’s Billion Brilliant Daughters</span> by Alice Sola Kim</li>
        <li><span>On the Watchtower at Plataea</span> by Garry Kilworth</li>
        <li><span>Time Gypsies</span> by Ellen Klages</li>
        <li><span>Vintage Seasons</span> by Henry & C.L. Moore Kuttner</li>
        <li><span>At Dorado</span> by Geoffrey Landis</li>
        <li><span>Ripples in the Dirac Sea</span> by Geoffrey Landis</li>
        <li><span>The Final Days</span> by David Langford</li>
        <li><span>Fish Night</span> by Joe Lansdale</li>
        <li><span>As Time Goes By</span> by Tanith Lee</li>
        <li><span>Another Story</span> by Ursula K. LeGuin</li>
      </ol>
      <ol start="34">
        <li><span>Loob</span> by Bob Leman</li>
        <li><span>Alexia and Graham Bell</span> by Rosaleen Love</li>
        <li><span>Traveller’s Rest</span> by David Masson</li>
        <li><span>Death Ship</span> by Richard Matheson</li>
        <li><span>Under Siege</span> by George R.R. Martin</li>
        <li><span>The Clock That Went Backwards</span> by Edward Page Mitchell</li>
        <li><span>Pale Rose</span> by Michael Moorcock</li>
        <li><span>The House that Made the Sixteen Loops of Time</span> by Tamsyn Muir</li>
        <li><span>Is There Anybody There?</span> by Kim Newman</li>
        <li><span>Come-From-Aways</span> by Tony Pi</li>
        <li><span>The Time Telephone</span> by Adam Roberts</li>
        <li><span>Red Letter Day</span> by Kristine Kathryn Rusch</li>
        <li><span>The Waitabits</span> by Eric Frank Russell</li>
        <li><span>If Ever I Should Leave You</span> by Pamela Sargent</li>
        <li><span>How the Future Got Better</span> by Eric Schaller</li>
        <li><span>Needle in a Timestack</span> by Robert Silverberg</li>
        <li><span>Delhi</span> by Vandana Singh</li>
        <li><span>Himself in Anachron</span> by Cordwainer Smith</li>
        <li><span>The Weed of Time</span> by Norman Spinrad</li>
        <li><span>Palimpsest</span> by Charlie Stross</li>
        <li><span>Yesterday Was Monday</span> by Theodore Sturgeon</li>
        <li><span>Triceratops Summer</span> by Michael Swanwick</li>
        <li><span>The Mouse Ran Down</span> by Adrian Tchaikovsky</li>
        <li><span>Augusta Prima</span> by Karin Tidbeck</li>
        <li><span>Twenty-One and Counting Up</span> by Harry Turtledove</li>
        <li><span>Forty, Counting Down</span> by Harry Turtledove</li>
        <li><span>Where or When</span> by Steve Utley</li>
        <li><span>Swing Time</span> by Carrie Vaughn</li>
        <li><span>(excerpt from) The Time Machine</span> by H.G. Wells</li>
        <li><span>Fire Watch</span> by Connie Willis</li>
        <li><span>Against the Lafayette Escadrille</span> by Gene Wolfe</li>
        <li><span>The Lost Pilgrim</span> by Gene Wolfe</li>
      </ol>
    </div>

    <div class="clear"></div>

    <h3>Non-Fiction</h3>
    <div>
      <ol start="66">
        <li><span>Introduction</span> by Rian Johnson</li>
        <li><span>Music for Time Travelers</span> by Jason Heller</li>
        <li><span>The Science of Time Travel</span> by Stan Love</li>
      </ol>
      <ol start="69">
        <li><span>Trousseau, Fashion for Time Travelers</span> by Genevieve Valentine</li>
        <li><span>Top Ten Tips for Time Travelers</span> by Charles Yu</li>
      </ol>
    </div>

    <div class="clear"></div>

  </div>

{% endblock %}

