{% extends "base.html" %}
{% block content %}

  <div class="disclaimer">
    <h1>Disclaimer</h1>

    <p>
      This site is intended for entertainment and information purposes only.
      <em>The Time Traveler's Almanac</em> and all related pictures and text
      are registered trademarks of <a href="http://tor-forge.com">Tor Books</a>,
      or their respective trademark and copyright holders.
    </p>

    <h1>Contact</h1>
    <p>
      &#109;&#097;&#105;&#108;&#064;&#116;&#105;&#109;&#101;&#116;&#114;&#097;&#118;&#101;&#108;&#101;&#114;&#115;&#097;&#108;&#109;&#097;&#110;&#097;&#099;&#046;&#099;&#111;&#109;.
    </p>
  </div>

{% endblock %}
