{% extends "base.html" %}
{% block content %}

  <div class="disclaimer">
    <h1>Disclaimer</h1>

    <p>
      This is is not endorsed by <a href="http://tor.com">Tor Books</a> or the
      editors Ann Vandermeer and Jeff Vandermeer. It is intended for entertainment
      and information purposes only.
    </p>
    <p>
      <em>The Time Traveler's Almanac</em> and all related pictures, text, etc
      are registered trademarks of <a href="http://tor.com">Tor Books</a>, or
      their respective trademark and copyright holders.
    </p>
  </div>

{% endblock %}
